name: Lint, format and typecheck

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-format-typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            uv.lock
            pyproject.toml

      - name: Install dependencies
        run: uv sync --frozen --group dev

      - name: Run lint
        run: uvx ruff check --no-fix src

      - name: Run format
        run: uvx ruff format --check src

      - name: Run typecheck
        run: uvx ty check src
